* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    background-color: whitesmoke;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23175137' fill-opacity='0.06' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}


nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(158, 158, 158, 0.559);
    border-radius: 5px;
    height: 320px;
}


.logo-img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-top: 50px;
    background-image: none !important;

}


button {
    height: 50px;
    align-self: flex-end;
    margin-bottom: 10px;
    width: 150px;
    margin: 5px;;
}



/* Button Styles */
.button-55 {
  align-self: center;
  background-color: #175137;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(255, 255, 255, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #c4cfca;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: flex-end;
  
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}