* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 75em;
    text-align: center;
    margin: 0 auto;
    background-color: whitesmoke;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23175137' fill-opacity='0.06' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

h1, h3 {
    color: #1751379a;
}

h1 {
    padding: 1em;
}

h3 {
    padding: 1em;
}

#form-tags {
    width: 150px;
    text-align: left;
}

.form-titles {
    display: flex;
    flex-direction: column;
    align-self: center;
    

}

.contact-form-container {
    display: flex;
    justify-content: center;
}

.contact-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-input {
    height: 30px;
    margin: 1.75px;
}

#form-submit {
    text-align: center;
    margin: 20px;
}

.contact-form-outer {
    background-color: rgba(158, 158, 158, 0.559);
    height: auto;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}



.nav-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(158, 158, 158, 0.559);
    border-radius: 1em;
    height: auto;
    margin: 1em;
    padding: 1em;
}



.nav-container-mobile {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(158, 158, 158, 0.559);
    border-radius: 1em;
    height: 300px;
    margin: 1em;
    padding: 1em;
    align-items: center;
}

.nav-container-mobile .button-55 {
    height: 3em;
    width: 8em;
    list-style: none;
    text-align: center;
    margin: 0.5em;
}


.nav-button-list-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline-start: 0px;
    align-self: center;
}

.menu-mobile {
    display: none;
}

.nav-container-mobile {
    display: none;
}


.logo-img {
    width: 14em;
    border-radius: 1em;
    align-self: center;
    background-image: none !important;
    margin: 1em;
}

.content-photo {
    width: 300px;
    height: 300px;
}

.content-boxes {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.content-info-box {
    width: 370px;
    height: 300px;
    background-color: rgba(158, 158, 158, 0.559);
    margin: 1em;
    border-radius: 1em;

   }

.logo-img-mob {
    width: 10em;
    border-radius: 1em;
    align-self: center;
    background-image: none !important;
    margin: 1em;
}

.image-menu-mobile {
display: flex;
flex-direction: column;
}

.menu-mobile-mobile {
    display: block;
    position: absolute;
}

nav li {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline-start: 0px;
}


.button-55 {
    height: 2em;
    width: 6em;
    list-style: none;
    text-align: center;
}

.menu-icon-mobile {
    position: fixed;
    bottom: 0;
    right: 0;
}



/* Button Styles */
.button-55 {
  align-self: center;
  background-color: #175137;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(255, 255, 255, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #c4cfca;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .25rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: flex-end;
  
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


@media only screen and (max-width: 600px) {
    .nav-button-list {
       display: none;
    }

    .logo-img {
        width: 14em;
        align-self: center;
    }

    .menu-icon-mobile {
        position: fixed;
        bottom: 0;
        right: 0;
        color: white;
    }

    .menu-mobile {
        display: block;
        position: fixed;
       
    }

    .content-boxes {
        flex-direction: column;
        align-items: center;
    }


  }