* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(23, 81, 55, 0.82);
    background-image: url("images/tree-background.jpg");
    background: #C33764; 
    background: -webkit-linear-gradient(rgb(23, 81, 55, 0.8), rgb(44, 141, 97, 0.8)), url("images/tree-background.jpg");
    background: linear-gradient(rgb(23, 81, 55, 0.8), rgb(23, 81, 55, 0.8)), url("images/tree-background.jpg"); 
    display: flex;
    flex-direction: column;
}

h1, h3, h4, h2, p {
    color: #175137d1;

}

h2 {
    font-family: 'Genos';
    font-weight: 100;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    padding-top: .35em;
    padding: .1em;
}

h3 {
    padding: 0.3em;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    padding: .75em;
    font-size: 1.2em;
}

h4 {
    padding: 2em;
    flex-wrap: wrap;
}

#form-tags {
    width: 150px;
    text-align: left;
}

.form-titles {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#privacy-link {
    color: whitesmoke;

}

/* body > div.content-boxes > div.container-index-wrapper > div:nth-child(2) > div.content-info-box-g > ul > li {
    display: flex;
    justify-content: center;
} */

.icon-container {
    display: flex;
    align-content: center;
}

body > div.content-boxes > div.container-index-wrapper > div:nth-child(2) > div.content-info-box-g > ul > li:nth-child(1) > div > svg {
    align-self: center;
}

li {
    list-style: none;
}



.contact-form-container {
    display: flex;
    justify-content: center;
}

.contact-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    resize: none;

}

.form-input {
    height: 30px;
    margin: 1.75px;
    resize: none;

}

.form-input-open {
    height: 30px;
    margin: 1.75px;
}

#form-submit {
    text-align: center;
    margin: 10px;
}

.about-photo {
    height: 300px;
    width: 300px;
    align-self: center;
    margin: 2em;
}

.about-item-container {
    display: flex;
    justify-content: center;
    margin: 1em;
    border-radius: 1em;
    align-self: center;
}

.main-heading-container, .main-heading-container-inverse {
    background-color: rgb(255, 255, 255);    
    margin: 1em;
    border: 1em;
    width: 99%;
    align-self: center;
    padding: 1em;
    align-self: center;
    margin-bottom: 0px;
    border-radius: 3px;
    
}

.main-heading-container-inverse {
    margin-bottom: 1em;

}

.main-heading-container-inverse h2 {
    color: whitesmoke;
    border-bottom:1em;
    
}

.main-heading-container-inverse {
    background-color: #175137;
    box-shadow:0.5px 0.5px 0.5px 0.5px rgb(174, 174, 174);
    margin-top: 10px
}

.all-containers-about {
    margin: 1em;
    padding: 1em;
    opacity: 1;
}

.about-info-box {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding: 1em;
    box-shadow:3px 3px 5px 1px rgb(174, 174, 174);
    border-radius: 25px 5px 3px 0px;
}

.contact-form-outer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 500px;
    margin: 1em;
    padding: 1em;
    box-shadow:3px 3px 5px 1px rgb(174, 174, 174);
    border-radius: 25px 5px 3px 0px;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.privacy-box {
    width: auto;
    height: auto;
    background-color: rgba(158, 158, 158, 705);
    margin: 1em;
    padding: 10em;
    border-radius: 1em;
    box-shadow:3px 3px 5px 1px rgb(174, 174, 174);
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.328);
    border-radius: 0px, 50px, 0px, 0px;
    height: 350px;
    margin: 0em, 0em, 0em, 0em;
    padding: 0em, 0em, 0em, 0em;
    border-radius: 0px 0px 5px 5px;
}

.container-index-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.footer-container {
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.328);
    border-radius: 0em, 0em, 0em, 0em;
    margin: 0em, 0em, 0em, 0em;
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 0px 0px;

}



.nav-container-mobile {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.328);
    border-radius: 0em, 0em, 0em, 0em;
    height: 350px;
    margin: 0em, 0em, 0em, 0em;
    padding: 0em, 0em, 0em, 0em;
}

.nav-container-mobile nav {
    margin-top: 50px;
    justify-self: center;
}


.nav-container-mobile .button-55 {
    height: 3em;
    width: 8em;
    list-style: none;
    text-align: center;
    margin: 0.5em;
}


.nav-button-list-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline-start: 0px;
    align-self: center;
}



.nav-container-mobile {
    display: none;
}


.logo-img {
    width: 16em;
    border-radius: 1em;
    align-self: center;
    background-image: none !important;
    margin: 1em;
}

.content-photo {
    width: 300px;
    height: 300px;
    align-self: center;
    border-radius: 200px;
    box-shadow: 0px 0px 5px #fff;
}

.content-photo-m {
    width: 250px;
    height: 250px;
    align-self: center;
    border-radius: 200px;
    margin-left: 100px;
    margin-top: -50px;
    box-shadow: 0px 0px 5px #fff;
}

.content-photo-s {
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 200px;
    margin-right: 150px;
    margin-top: -80px;
    box-shadow: 0px 0px 5px #fff;
}

.content-boxes {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    margin: 1em;
    width: auto;
}

.content-info-box, .content-info-box-g {
    width: 370px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 1em;
    align-self: center;
    box-shadow:3px 3px 5px 1px rgb(174, 174, 174);
    border-radius: 25px 5px 3px 0px;
   }

.content-info-box-g {
    display: flex;
    background-color: rgb(23, 81, 55) !important;
    box-shadow:1px 1px 2px 1px rgb(174, 174, 174);
    border-radius: 0px 5px 25px 3px;
    color: whitesmoke !important;
    align-items: center;
    justify-content: center;


}

.content-info-box-g p {
    color: white;
}

.index-info-box {
    align-self: center;
}


.content-info-box-about {
    width: auto;
    height: auto;
    background-color: rgba(158, 158, 158, 0.705);
    margin: 1em;
    border-radius: 1em;
}

.service-box {
    width: 25em;
    height: auto;
    background-color: rgb(255, 254, 254);
    margin: 4em;
    border-radius: 1em;
    box-shadow:3px 3px 5px 1px rgb(174, 174, 174);
}

.service-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.service-images {
    width: 200px;
}
.logo-img-mob {
    width: 10em;
    border-radius: 1em;
    align-self: center;
    background-image: none !important;
    margin: 1em;
}

.image-menu-mobile {
display: flex;
flex-direction: column;

}

.menu-small {
    display: block;
    position: absolute;
}

nav li {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline-start: 0px;
}


.button-55 {
    font-family: 'Barlow Condensed', sans-serif;;
    height: 2em;
    width: 6em;
    list-style: none;
    text-align: center;
}

#menu-mobile {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;

}

/* Animations */

  #nav-fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
  @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

  #pulsate-fwd{-webkit-animation:pulsate-fwd 1.4s ease-in-out infinite both;animation:pulsate-fwd 1.4s ease-in-out infinite both}
  @-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}

/* Button Styles */
.button-55 {
  align-self: center;
  background-color: #175137;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: .5px;
  box-shadow: rgba(255, 255, 255, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #c6c6c6eb;
  cursor: pointer;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .25rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: flex-end;
  
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.index-image-box {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 750px) {
    .nav-button-list {
       display: none;
    }

    .logo-img {
        width: 16em;
        margin-top: 2em;
        align-self: center;
    }

    .all-containers-about {
        margin: 0em 0em 1em 0em;
    }

  

    .content-boxes {
        flex-direction: column;
        align-items: center;
    }

    #menu-mobile {
        display: flex;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1;    
    }

    .service-box-container {
        flex-direction: column;
    }

    .service-box {
        margin: 1em;
        width: auto;
    }

    .privacy-box {
        padding: 1em;
    }

    .about-item-container {
        flex-direction: column;
        align-self: center;
        margin-top: 1em;
        margin-bottom: 1em;

    }

    .about-info-box {
        width: 300px;
        margin: 0;
        align-self: center;
  }

  .all-containers-about {
    margin: 1em;
    padding: 0;
  }

  .contact-form-outer {
    width: auto;
  }

  .content-photo {
    width: 300px;
    height: 300px;
    align-self: center;

}

.content-photo-m {
    width: 250px;
    height: 250px;
    align-self: center;
    border-radius: 200px;
    margin-left: 100px;
    margin-top: -50px;
    box-shadow: 0px 0px 5px #fff;
}

.content-photo-s {
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 200px;
    margin-right: 150px;
    margin-top: -80px;
    box-shadow: 0px 0px 5px #fff;
}

.main-heading-container, .main-heading-container-inverse {
    width: 100%;
}

}